.navigation {
  background-color: #eee; }
  .navigation .navbar-toggler {
    color: #1f2532; }

.pricing-item .bg-pricing {
  /*background: url(../images/pricing-bg.jpg);*/
  background-color: #194458;
  background-size: cover; }

.services .service-block h3, .services .service-block p {
  color: #194458; }

.services .service-block ion-icon {
  font-size: 4em;
  color: #f0326b;
  background: linear-gradient(100deg, #f9643d, #fe2a77);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.vs .header.navigation {
  background-color: #616161; }
  .vs .header.navigation h1, .vs .header.navigation h2 {
    color: #eee;
    margin-bottom: 20px;
    font-family: titillium web,sans-serif;
    font-weight: 600; }
  .vs .header.navigation h1 {
    font-size: 48px; }
  .vs .header.navigation h2 {
    font-size: 48px; }
  .vs .header.navigation .nav-link {
    color: #fff; }

.vs .hero-area .block {
  padding-left: 0; }
